@page
@model MovimentacaoBensFLF.Pages.Bens.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bem[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bem[0].MarcaModelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bem[0].LocalizacaoAtual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bem[0].NumeroPatrimonio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarcaModelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalizacaoAtual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroPatrimonio)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
